*{
  margin: 0;
  padding: 0;
}

html,body{
  background-color: antiquewhite;
  font-size: 14px;
}

.btn{
  font-size: 18px;
  color: black;
  border-radius: 15px;
  margin-top: 10px;
}

#bagbtn{
  padding: 5px 25px;
  background-color: aquamarine;
}

#wishlistbtn{
  padding: 5px 35px;
}

