@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');

html,body{
  text-align: center;
  color: azure;
  background-color: #DEAC80;
  font-family: "Sankofa Display", sans-serif;
}

#heading{
  margin-top: 30vh;
  font-size: 6rem;
}
#ins{
  font-size: 4rem;
}

.btn{
  padding: 10px;
  height: 10vh;
  width:10vh;
  font-size: 40px;
  border-radius: 25px;
  border: none;
  background-color: rgba(104, 0, 232, 0.31);
  margin: 30px
}
.btn:hover{
  background-color: rgb(104, 0, 232, 0.6);
}